*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-flow:wrap column;
    align-items: center;
    justify-content: center;
    padding:10px;
    gap: 10px;

    font-family: 'Roboto', sans-serif;
}

p{
    padding:10px;
    word-break: break-all;
}