*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: fit-content;
    background-color: rgb(247, 176, 148);
    border: dashed 2px black;
    border-radius: 20px;
    padding:10px;
}
.search{
    padding:10px;
}
.product{
    display: none;
    justify-content: center;
    height: 200px;
    max-width: 200px;
    overflow: hidden;
    padding:10px;
}

.product img{
    height: 100%;
}